@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #ffffff;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

@layer utilities {
  .selection\:bg-orange-600::selection {
    background-color: #ea580c;
    color: white;
  }
}

